/* All Total Widgets */
.widget-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
}

/* Overall Widget */
.widget {
    display: flex;
    align-items: center;

    margin: 5px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 80%;
    height: auto;
    text-align: center;
    overflow: hidden;
}

/*
|   LEFT    |   RIGHT   |
|   ----    |   ----    |
|   IMAGE   |   Title   |
|   IMAGE   |   Date    |
|   IMAGE   |   GitHub  |
|   IMAGE   |   Desc    |
|   IMAGE   |   Read    |
*/

/* Left Widget Container */
.widget-left {
    width: 50%;
}

/* Widget Image */
.widget-left img {
    width: 500px;
    height: auto;
    /* width: auto; */
    object-fit: cover;
    padding-bottom: 20px;
}

/* Right Widget Container */
.widget-right {
    width: 50%;
}

/* Title of Widget */
.widget-right h1 {
    margin: 10px 0;
    font-size: 2em;
}

/* Date */
.widget-right h2 {
    margin: 10px 0;
    font-size: 1em;
}

/* GitHub Link */
.widget-right h3 {
    margin: 10px 0;
    font-size: 1em;

    padding-bottom: 20px;
}

/* Read More Link */
.widget-right h4 {
    margin: 10px 0;
    font-size: 1.5em;

    padding-top: 20px;
}

/* Main Body Text */
.widget-right p {
    margin: 10px 0;
    font-size: 1.2em;
    overflow-y: hidden;
    max-width: 1000px;
    /* width: auto; */
    /* height: 175px; */
    text-align: left;
}

/* Link Wrapper */
.widget-right a {
    text-decoration: none;
    color: blue;
    font-size: 1em;
}